@keyframes relax {
    0% {
        background-color: blue;
        margin: 0% 0% 0% 0%;
    }
    20% {
        background-color: fuchsia;
        margin: 10% 20% 30% 40%;
    }
    40% {
        background-color: red;
        margin: 20% 10% 20% 30%;
    }
    60% {
        background-color: cyan;
        margin: 30% 20% 30% 40%;
    }
    80% {
        background-color: orange;
        margin: 20% 25% 35% 25%;
    }
    100% {
        background-color: blue;
        margin: 0% 0% 0% 0%;
    }
}

body {
  -webkit-animation: relax 5s infinite;
  -moz-animation: relax 5s infinite;
  -o-animation: relax 5s infinite;
  animation: relax 5s infinite;
  color: white;
}

h2 {
    font-family: sans-serif;
}

ul {
    list-style-type: square;
}
